body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: purple;
}

/* Menu */
.menu {
  background-color: white;
  padding: 15px;
}


.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.menu li {
  display: inline;
  
}
.bouton {
  color: white;
  background-color: orange;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 1rem;
  transition: 0.3s;
  
}
.bouton:hover {
  background-color: orangered;
  color:white;
  
}

/* Modale */
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modal-content {
  background-color: white;
  border-radius: 12px;
  width: 350px;
  padding-bottom: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s ease;
  position: relative;
}
@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.95);}
  to {opacity: 1; transform: scale(1);}
}
.close {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 30px;
  color: #6b7280;
  cursor: pointer;
}
.modal-header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e5e7eb;
  background-color: #f1f5f9;
  border-radius: 1rem;
}
.tab-btn {
  flex: 1;
  text-align: center;
  padding: 12px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1rem;
}
.tab-btn.active {
  background-color: white;
  border-bottom: 2px solid black;
  color: black;
}
form {
  display: none;
  flex-direction: column;
  padding: 20px;
}
form.active {
  display: flex;
}
input {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}
button {
  margin-top: 10px;
  background-color: orange;
  color:  black;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color:black;
  color:white;
}


.message {
  text-align: center;
  font-size: 0.9rem;
  color: red;
  margin-top: 10px;
}
.message.success {
  color: green;
}


    